  body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: url(/Screenshots/starwars.jpg);
  background-color:#8dcecb;
  
}



html {
  position: relative;
  min-height: 100%
}

.navbar {
  border-bottom: 1px solid #da6a6a;
  background:  #c2bebe;
}
nav {
  background-color: #c2bebe;
}

.logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #c2bebe;
  padding: 10px;
  color: rgb(0, 0, 0) !important;
}

main {
  margin: 80px 0;
  padding-right: 30px;
}

.container {
background-color: ;
}

/*Contact Styling*/
.col-md-8 {
  background-color: white;
}

.col-md-7 {
  margin-left: 20px;
}

/* ------------------------- */


.img-thumbnail1 {
  height: 250px;
  width: 250px;
}

.col-md-9 {
  background-color: white;
  margin-left: 20px;
}

.footer {
  height: 62px;
  border-top: 6px solid  #da6a6a;
  margin-top: 3px;
  background-color:  #c2bebe;
  padding-top: 14px;
  color: #fff;
}

/* Media Query for size 768 */
@media screen and (max-width: 768px) {



  /***Portfolio styles 768**/
 
  .img-fluid {
    margin: 20px auto;
  }
  
  figure { 
  display: contents;
  }
  
  }

  /* media Query for size 400 */
@media screen and (max-width: 572px) {



  /*** Styling for portfolio page**/
  figure { 
    display: contents;
    
  }
  
  .img-fluid {
    margin: 20px auto;
  }
  
  .col-md-7 {
    margin: 0 20px auto;
  }
  
   /***Styling for Contact page**/
  
   .contact {
    right: 25px;
    margin: 0 20px auto;
   }


   /***Styling for home page**/
   table {
     font-size: small;
   }
   .tabcont{
     width: 550px;
   }
   .home {
     padding-right: 30px;
   }
   .img-thumbnail1 {
    height: 200px;
    width: 200px;
  }
}

/* ------------------------- */

